#galaxy-perlin {
    background-image: url("/pictures/perlin.jpg");
    background-repeat: repeat;
    background-size: 25%;
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 100%;
    animation: pulse 25s ease-in-out infinite, slide-x 30s linear infinite, slide-y 90s linear infinite;
    mix-blend-mode: color-burn;
}

@keyframes pulse {
    0% { opacity: 80%; }
    50% { opacity: 40%; }
    100% { opacity: 80%; }
}

@keyframes slide-x {
    from { background-position-x: 0%; }
    to { background-position-x: 100%; }
}

@keyframes slide-y {
    from { background-position-y: 0%; }
    to { background-position-y: 100%; }
}